@import '../../veriables.scss';

.nav {
  height: 85%;
  background-color: $link-color;
  padding-top: 50px;

  &__bar {
    margin-top: 35px;
  }

  &__header {
    padding-left: 20px;
    color: white;
    background-color: $section-color;
  }
}