.user-trends {
  height: 450px;
  width: 64%;

}

.user-sale {
  width: 30%;
  height: 450px;
}

.diagram__container {
  display: flex;
  padding-left: 15px;
  // padding-right: 15px;
  justify-content: space-between;

  margin-bottom: 15px;

}