$section-color: #1b93e1;
$link-color: #2881B9;
$header-width: 300px;
$bg-color-for-interactive-elements: #4DB9FF;


$search-menu-bg-color: #e74c3c;
$notification-bg-color: #e67e23;
$user-notify-bg-color: #c0392b;
